/.classpath
/.gradle/
/.project
/.settings/
/bin/
/build/
/config/
/doc/
/downloads/
/frost.lock
/frost0.log
/frost0.log.lck
/help/
/jtc.ico
/localdata/
/readme.de.txt
/readme.en.txt
/readme.fr.txt
/specs/
/store/